<header>
    <menu>
        <ul>
            <li>Saiyan Bank</li>
        </ul>
    </menu>
    <nav class="navbar">
        <ul>
            <form action="results.html" method="get" id = "search">
                <input type="text" name="query" required>
                <button type="submit"><img src="images/magnifier.svg"/></button>
            </form>
            <li><a href="lorem.html">criar nova conta</a></li>
            <li><a href="lorem.html">acesse sua conta</a></li>
        </ul>
    </nav>
</header>
